extends layout
block head
  link(rel='stylesheet', href='/stylus/ott.css')
  script(src='/echarts/dist/echarts.js')
  script(src='/echarts/theme/chalk.js')
  script(src='/javascripts/index.js')

block content
  .layout-wrap
    .layout-aside.layout-aside-static
      .layout-panel-small
      .layout-panel-small
      .layout-panel-middle
      .layout-panel-small
      .layout-panel-small
    .layout-main
      .layout-header
        .layout-title
          h1
            a(href='javascript:;' title='云视聚')
              img(src='/images/common/logo-white-middle.png')
          h2= "云南无线数字音视频服务可视化聚合平台"
        .layout-nav
          ul
            li
              a(href='/charts/dtmb', title='DTMB业务可视化')
                img(src='/images/common/icon-dtmb-white-small.png')
                span DTMB
            li
              a(href='/charts/iptv', title='IPTV业务可视化')
                img(src='/images/common/icon-iptv-white-small.png')
                span IPTV
            li
              a(href='/charts/ott', title='OTT业务可视化')
                img(src='/images/common/icon-ott-white-small.png')
                span OTT
            li
              a(href='/charts/hybrid', title='DTMB+OTT业务可视化')
                img(src='/images/common/icon-hybrid-white-small.png')
                span 融合新媒体
            li
              a(href='/charts/assets', title='媒资数据可视化')
                img(src='/images/common/icon-assets-white-small.png')
                span 媒资数据
            li
              a(href='/charts/assets', title='用户数据可视化')
                img(src='/images/common/icon-dtmb-white-small.png')
                span 用户数据
            li.btn-maximize
              a(href='javascript:;', title='进入全屏')
                img(src='/images/common/icon-dtmb-white-small.png')
                span 进入全屏
            li.btn-restore
              a(href='javascript:;', title='退出全屏')
                img(src='/images/common/icon-dtmb-white-small.png')
                span 退出全屏
        .layout-status
          ul
            li
              label 系统时间：
              a(href='javascript:;') 2017年08月31日 11:34:08 星期四
            li
              label 系统状态：
              a(href='javascript:;') 正常
            li
              label 更新时间：
              a(href='javascript:;') 2017年08月31日 00:00:00 星期四
            li
              label 国内平台总用户数：
              a(href='javascript:;') 1301230
            li
              label 海外平台总用户数：
              a(href='javascript:;') 611329
            li
              label 媒资库资源总数：
              a(href='javascript:;') 411329
            li
              label DTMB平台运行状态：
              a(href='javascript:;') 正常
            li
              label OTT平台运行状态：
              a(href='javascript:;') 正常
            li
              label DTMB+OTT平台运行状态：
              a(href='javascript:;') 正常
      .layout-content
        .layout-panel-large
          .chart-map-dtmb
        .layout-panel-small
        .layout-panel-small
    .layout-aside.layout-aside-dynamic
      .layout-panel-small
      .layout-panel-small
      .layout-panel-middle
      .layout-panel-middle

