extends layout

block content
  .layout-wrap
    .layout-aside.layout-aside-static 静态内容
    .layout-content 内容
      .btn-maximize 进入全屏
      .btn-restore 退出全屏
      a(href="/charts/assets") ASSETS
      a(href="/charts/dtmb") DTMB
      a(href="/charts/hybrid") HYBRID
      a(href="/charts/iptv") IPTV
      a(href="/charts/ott") OTT
      a(href="/charts/user") USER
    .layout-aside.layout-aside-dynamic 动态内容

