doctype html
html
  head
    title= "云南无线数字音视频服务可视化聚合平台 - " + title
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    script(src="/jquery/dist/jquery.js")
    script(src="/javascripts/layout.js")
    block head
  body
    block content
