html, body
  width 3360px
  height 1080px
h1, h2
  display none

.layout-wrap
  width 3360px
  height 1080px
  background khaki
  overflow hidden
.layout-aside
  float left
  width 960px
  height 100%
.layout-content
  float left
  width 1440px
  height 100%
.layout-content a
  display block
  line-height 30px
.btn-maximize
  background green
  line-height 30px
  cursor pointer
.btn-restore
  background red
  line-height 30px
  cursor pointer
